# User-specific files
.vs/
.vs/RoomieBill/
.idea/
.vscode/
*.user
*.userosscache
*.suo
*.userprefs

# Windows-specific files
Thumbs.db
ehthumbs.db

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ist/
[Dd]eploy/
[Dd]ebug-AnyCPU/
[Dd]ebug-x86/
[Dd]ebug-x64/
[Dd]Release/
[Dd]ReleasePublic/
x64/
x86/
out/

# Visual Studio for Mac
.vscode/

# .NET Core specific
bin/
obj/
project.lock.json
project.fragment.lock.json
artifacts/

# JetBrains Rider
.idea/

# Azure Functions
.local/
