<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0">
        <Configuration>
          <CodeCoverage>
            <ModulePaths>
              <Exclude>
                <ModulePath>.*FrontendApplication.*</ModulePath>
                <ModulePath>.*Roomiebill.Server.Services.*</ModulePath>
              </Exclude>
            </ModulePaths>
            <Sources>
              <Exclude>
                <Source>.*[/\\]Program\.cs</Source>
                <Source>.*[/\\]Migrations[/\\].*\.cs$</Source>
                <Source>.*\.Migrations\..*</Source>
              </Exclude>
            </Sources>
            <Attributes>
              <Exclude>
                <Attribute>.*Migrations.*</Attribute>
              </Exclude>
            </Attributes>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
